@use '@styles/tokens' as *;
@use '@styles/mixins' as *;

.input {
  @include transition-colors;
  @include focus-visible;
  
  display: flex;
  width: 100%;
  height: 2.5rem;
  padding: $space-2 $space-3;
  border-radius: $radius-md;
  border: 1px solid $input;
  background-color: $background;
  font-size: $font-size-sm;
  color: $foreground;
  outline: none;

  &::placeholder {
    color: $muted-foreground;
  }

  &:disabled {
    @include disabled;
  }

  &:read-only {
    background-color: $muted;
    cursor: default;
  }

  &[type="file"] {
    padding: $space-1 $space-3;
    font-size: $font-size-sm;
  }
}

.input-error {
  border-color: $destructive;

  &:focus-visible {
    outline-color: $destructive;
  }
}
