@use '@styles/tokens' as *;
@use '@styles/mixins' as *;

.textarea {
  @include transition-colors;
  @include focus-visible;
  
  display: flex;
  width: 100%;
  min-height: 5rem;
  padding: $space-3;
  border-radius: $radius-md;
  border: 1px solid $input;
  background-color: $background;
  font-size: $font-size-sm;
  color: $foreground;
  font-family: inherit;
  outline: none;
  resize: vertical;

  &::placeholder {
    color: $muted-foreground;
  }

  &:disabled {
    @include disabled;
  }

  &:read-only {
    background-color: $muted;
    cursor: default;
  }
}

.textarea-error {
  border-color: $destructive;

  &:focus-visible {
    outline-color: $destructive;
  }
}
